#apply-banner {	
	background-image: url("../images/backgrounds/timeline_bg_v3.jpg");
	background-position: 50% 40%;
	height: 400px;
	.banner-content {
		width: 100%;
	}
	.banner-title {
		font-size: 80px;
		letter-spacing: 2px;
	}
}
#timeline {
	text-align: center;
	h1, h3, p {
		text-align: left;
	}
}
#apply, #apply-active, #instructor-call, #instructor-call-active, #reserve-seat, #reserve-seat-active, #first-day, #first-day-active {
	cursor: pointer;
}
#timeline-info {
	height: 70px;
}

#apply-form {
	// Fix for vertically centering awesome-bootstrap-checkbox
	.checkbox label::before, .checkbox label::after {
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
	}
}