#curriculum-banner {	
	background-image: url("../images/backgrounds/faith-computer-dark.jpg");
	background-position: 50% 25%;
	height: 500px;
	.banner-title {
		font-size: 90px;
		letter-spacing: 2px;
	}
}