footer {	
	background-color: black;
	font-size: 90%;
	line-height: 125%;
	text-align: center;
	color: white;
	.links {
		a {
			padding: 0 10px;
		}
		margin-bottom: 18px;
	}
	.contact {
	}
	.address {
		margin-bottom: 18px;
	}
}