// Create classes for easily adding vertical padding, e.g.:
// 	"vertical-padding-10" for 10px of top and bottom padding
@for $i from 1 through 5 {
	.vertical-padder-#{$i * 10} { 
		padding-top: $i * 10px;
		padding-bottom: $i * 10px;
	}
}

// Center an element over a particular point, e.g. move the center of an element
// to (x, y)
@mixin absolute-center-at($x: 50%, $y: 50%) {
	position: absolute;
	left: $x;
	top: $y;
	transform: translate(-50%, -50%);
}