/*
	TECHNOLOGY
*/

#curriculum {
	img {
		// width: 100%;
		height: 100%;
	}
}

#testimonials {
	.student-profile img {
		width: 100%;
		border-radius: 50%;
	}
	.quote {
		
	}
	.attribution {
		margin-top: 10px;
		font-size: 18px;
		text-transform: uppercase;
	}
}