#home-banner {	
	background-image: url("../images/backgrounds/alieen-computer-dark.jpg");
	background-position: 50% 25%;
	.banner-title {
		margin: 0 0 50px 0;
		font-size: 90px;
		letter-spacing: 2px;
	}
	.banner-subtitle {
		margin: 0;
		font-size: 33px;
	}
	.btn {
		margin: 35px 0 0 0;
		font-size: 30px;
	}
}

#curriculum {
	img {
		height: 100%;
	}
}

#testimonials {
	.student-profile img {
		width: 100%;
		border-radius: 50%;
	}
	.quote {
		
	}
	.attribution {
		margin-top: 10px;
		font-size: 18px;
		text-transform: uppercase;
	}
}