.navbar {
  // Basic styling of text & image
  border: none;
  font-size: 20px; 
  .navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 80px;
    img {
        height: 100%;
    }
  }

  // Classes for dynamically changing navbar with JS 
  &.navbar-transition {
   transition: background-color 0.4s ease 0.05s;   
  }  
  &.navbar-past-banner {
    background-color: black;
  }

  // Navbar collapse button
  .navbar-header {
    .navbar-toggle {
      border: none;
      font-size: 35px;
      color: $codeabode-green;
      margin: 0 15px 0 0;
      padding: 0;
      line-height: $navbar-height;
    }
    // Override the bootstrap styling for the navbar interactivity 
    .navbar-toggle,
    .navbar-toggle:active,
    .navbar-toggle:hover {
      background-color: black;
    }
  }

  // Media queries 
  @media (max-width: $screen-md-min) {
    font-size: 18px;
    .navbar-brand {      
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }  
}

