#schedule-banner {	
	background-image: url("../images/backgrounds/laptops-dark.jpg");
	background-position: 50% 25%;
}

.schedule-section {
	.course-offering {
		.course-image {
			// Making top of the images align with the rest of the row
			padding-top: 6px;
			img {
			  // Media queries 
				@media (max-width: $screen-sm-min) {
					width: 106px;
					margin-bottom: 16px;
				}
			}
		}
		.course-title {
			font-size: 30px;
			font-weight: bold;
			margin: 0;
		}
		.course-subtitle {
			font-size: 20px;
			margin: 5px 0 15px 0;
		}
		.course-details {
			font-size: 20px;
			line-height: 150%;
		}
		.course-logistics {
			font-size: 20px;
			line-height: 25px;
			.row {
				// Add spacing between rows
				padding-bottom: 10px;
			}
			// Move the icon and details closer together
			.icon {
				padding-right: 0;
			}
			.details {
				padding-left: 0;
			}
			.btn {
				font-size: 22px;
			}
		}
	}
	.course-separator {
		border-bottom: 1px solid #BCBCBC;
		margin-top: 35px;
		margin-bottom: 40px;
	}
	  // Media queries 
	@media (max-width: $screen-sm-min) {
		text-align: center;
	}
}

#comparison-section {
	text-align: center;
	.title {
		margin: 0;
	}
	.subtitle {
		line-height: 125%;
		margin: 5px 0 -15px 0;
		font-size: 22px;
		font-style: italic;
		font-weight: 300;
		padding: 0 40px;
	}
	.comparison {
		margin-top: 40px;
		line-height: 125%;
		.icon {
			font-size: 50px;
		}
		// Tweaking individual icons to get them placed evenly
		.time {
			.fa {
				font-size: 55px;
			}
			margin-bottom: -5px;
		}
		.calendar {
			margin-bottom: -1px;			
		}
		.graduation {
			margin-bottom: -5px;
		}
		.cost {
			margin-bottom: -1px;
		}
	}
	// Media query to style the comparison section in a mobile layout
	@media (max-width: $screen-sm-min) {
		.container .row .col-sm-6:nth-child(2) {
			margin-top: 80px;
		}
	}
}