@import "constants";
@import "helper-classes";
@import "custom-bootstrap-variables";
@import "bootstrap";
@import "font-awesome";

/*
	PAGE SPECIFIC PARTIAL SCSS
*/

@import "home";
@import "about";
@import "admissions";


/*
	NAVBAR
*/
.navbar-brand img {
	height: 100%;
}
.navbar-brand {
	padding-top: 10px;
	padding-bottom: 10px;
	height: 80px;
}
.navbar {
	font-size: 20px; 
	border: none;
}
.navbar-transition {
	transition: all 0.25s ease 0.05s;	
}
.navbar-past-banner {
	background-color: black;
}


/*
	FOOTER
*/

footer {	
	background-color: black;
	font-size: 20px;
	line-height: 22px;
	text-align: center;
	color: white;
	.links {
		a {
			padding: 0 10px;
		}
		margin-bottom: 18px;
	}
	.contact {
	}
	.address {
		margin-bottom: 18px;
	}
}


/*
	ALL SECTIONS
*/
.no-navbar-overlap {
	margin-top: $navbar-height;
}
.section-title {
	margin-top: 0;
	margin-bottom: 30px;
}
.stripped-section {
	background-image: url("../images/backgrounds/congruent-subtle-pattern.png");
	background-image: repeat;
	color: white;
}

/*
	GRID
*/

// Must be applied to all columns in a row & whitespace has to be removed
.vertical-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/*
	BANNER
*/

#banner {
	background-image: url("../images/students/1.jpg");
	background-image: no-repeat;
	background-position: 60% 0%;
	background-size: cover;
	height: 700px;
	overflow: auto; // Prevent margin collapsing on the first child element
	color: white;
	position: relative;
	.banner-content {
		padding-top: $navbar-height; 
		width: 75%;
		@include absolute-center-at(50%, 50%);
		text-align: center; // Center inline elements
		text-shadow: 2px 2px 5px rgba(0,0,0,0.35);
		.banner-title {
			margin: 0 0 50px 0; // To make the centering work
			padding: 0;
			font-family: Raleway;
			font-size: 90px;
			font-weight: 300;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
		.banner-subtitle {
			margin: 0; // To make the centering work
			font-family: Raleway;
			font-size: 33px;
			font-weight: 300;
		}
		.btn {
			margin: 35px 0; // To make the centering work
			outline: none;
			font-size: 30px;
			font-family: Raleway;
			font-weight: 300;
		}
		.highlight {
			color: $codeabode-green;
			border-bottom: 5px solid white;
			font-weight: 800;
		}
	}
}