@import "constants";
@import "helper-classes";
@import "custom-bootstrap-variables";
@import "bootstrap";
@import "font-awesome";


@import "awesome-bootstrap-checkbox.scss";


/*
	PAGE SPECIFIC PARTIAL SCSS
*/

@import "navbar";
@import "banner";
@import "footer";

@import "home";
@import "curriculum";
@import "about";
@import "schedule";
@import "apply";


/* 
	GENERAL MEDIA QUERIES
*/

@media (max-width: $screen-md-min) {
	@include set-header-sizes(24px);
}
@media (max-width: $screen-sm-min) {
	@include set-header-sizes(22px);	
	// Add horizontal space around containers on phone screens
	.container {
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media (max-width: $screen-xs-min) {
	@include set-header-sizes(16px);

}


/*
	ALL SECTIONS
*/
.no-navbar-overlap {
	margin-top: $navbar-height;
}
.section-title {
	margin-top: 0;
	margin-bottom: 30px;
}
.stripped-section {
	background-image: url("../images/backgrounds/congruent-subtle-pattern.png");
	background-image: repeat;
	color: white;
}

/*
	GRID
*/
.vertical-center {
	// Must be applied to all columns in a row & whitespace has to be removed
    display: inline-block;
    vertical-align: middle;
    float: none;
}
