@import "constants";
@import "helper-classes";
@import "custom-bootstrap-variables";
@import "bootstrap";
@import "font-awesome";

/*
	PAGE SPECIFIC PARTIAL SCSS
*/

@import "about";
@import "admissions";


/*
	NAVBAR
*/

.navbar-brand img {
	height: 100%;
}
.navbar-brand {
	padding-top: 10px;
	padding-bottom: 10px;
	height: 80px;
}
.navbar {
	font-size: 16px; 
}


/*
	ALL SECTIONS
*/
.no-navbar-overlap {
	margin-top: $navbar-height
}
.section-title {
	margin-top: 0;
	margin-bottom: 30px;
}


/*
	BANNER
*/

#banner {
	background-image: url("../images/students/1.jpg");
	background-image: no-repeat;
	background-position: 60% 0%;
	background-size: cover;
	height: 700px;
	overflow: auto; // Prevent margin collapsing on the first child element
	color: white;
	position: relative;
	.banner-content {
		padding-top: $navbar-height; 
		width: 75%;
		@include absolute-center-at(50%, 50%);
		text-align: center; // Center inline elements
		text-shadow: 2px 2px 5px rgba(0,0,0,0.35);
		.banner-title {
			margin: 0 0 50px 0; // To make the centering work
			padding: 0;
			font-family: Raleway;
			font-size: 90px;
			font-weight: 300;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
		.banner-subtitle {
			margin: 0; // To make the centering work
			font-family: Raleway;
			font-size: 33px;
			font-weight: 300;
		}
		.btn {
			margin: 35px 0; // To make the centering work
			outline: none;
			font-size: 30px;
			font-family: Raleway;
			font-weight: 300;
		}
		.highlight {
			color: $codeabode-green;
			border-bottom: 5px solid white;
			font-weight: 800;
		}
	}
}


/*
	TECHNOLOGY
*/

#technology {
	.row {
		margin-bottom: 20px;
	}
	div {
		height: 150px;	
	}
	div img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}


//	This is some sass styling for the footer
//	(and this comment should only show up in the sass file!)
//
//	Just trying out a couple of sass concepts (if possible)...
//	 - nesting
//	 - variables
//	 - mixins

/* Footer styling */
footer {
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;

	.footer-links a {
		display: block;
	  text-decoration: none;
	  display: block;
	  padding: 4px 10px;
	  /* color: #fff; */
	  $link-color: #fff;
	  color: $link-color;

	  &:hover {
			/* color: #9F9F9F; */
			color: darken($link-color, 25%);
	  }
  }

  form {
	  text-align: left;
	  margin: 0px;
	  width: 100%;

	  label {
	  	display: block;
	  }

		input[type="email"] {
		  width: 80%;
		  margin: 4px auto;
		  line-height: 1.4em;
		}

		input[type="submit"] {
		  outline: none;
		  font-size: 0.8em;
		  height: 2.4em;
		  width: 20%;
		  line-height: 1.4em;
		  background-color: #2A2A2D;
		  color: white;
		  border: none;
		  margin: 2px auto;
		  float: right;
		  cursor: pointer;

		  /* Rounded corners */
		  border-radius: 4px;
		  -webkit-border-radius: 4px;
		  -moz-border-radius: 4px;
		  -o-border-radius: 4px;

		  /* Drop Shadow */
		  box-shadow: 2px 2px 4px #000000;
		  -webkit-box-shadow: 2px 2px 4px #000000;
		  -moz-box-shadow: 2px 2px 4px #000000;
		  -o-box-shadow: 2px 2px 4px #000000;

			&:hover {
			  color: #C3C3C3;
			}

			&:active {
			  color: #94939E;
			  background-color: #3D3D41;
			  border: none;
			}
		}
  }


	.social-links {
	  min-width: 110px;
	  width: 90%;
	  margin: 18px auto;

		a {
		  display: inline-block;
		  vertical-align: top;

			&:hover {
			  opacity: 0.5;
			}

			img {
			  width: 36px;
			  height: 36px;
			}
		}
	}
}